In [0]:
import pandas as pd
url='https://raw.githubusercontent.com/ACM-NITK/Machine-Learning-SMP-2019/master/Assignment%201/PL18-19.csv'
df = pd.read_csv(url)

In [5]:
df.head()

         Date      HomeTeam        AwayTeam  FTHG  FTAG  ... AC  HY  AY HR AR
0  2018-08-10    Man United       Leicester     2     1  ...  5   2   1  0  0
1  2018-08-11   Bournemouth         Cardiff     2     0  ...  4   1   1  0  0
2  2018-08-11        Fulham  Crystal Palace     0     2  ...  5   1   2  0  0
3  2018-08-11  Huddersfield         Chelsea     0     3  ...  5   2   1  0  0
4  2018-08-11     Newcastle       Tottenham     1     2  ...  5   2   2  0  0

[5 rows x 22 columns]

In [0]:
df = df.rename(columns={'FTHG':'Full Time Home Team Goals', 'FTAG':'Full Time Away Team Goals','FTR':'Full Time Result','HTHG':'Half Time Home Team Goals','HTAG':'Half Time Away Team Goals','HTR':'Half Time Result','HS':'Home Team Shots','AS':'Away Team Shots','HST':'Home Team Shots on Target','AST':'Away Team Shots on Target','HF':'Home Team Fouls','AF':'Away Team Fouls','HC':'Home Team Corners','AC':'Away Team Corners','HY':'Home Team Yellow Cards','AY':'Away Team Yellow Cards','HR':'Home Team Red Cards','AR':'Away Team Red Cards'})

In [7]:
df.head()

         Date      HomeTeam  ... Home Team Red Cards  Away Team Red Cards
0  2018-08-10    Man United  ...                   0                    0
1  2018-08-11   Bournemouth  ...                   0                    0
2  2018-08-11        Fulham  ...                   0                    0
3  2018-08-11  Huddersfield  ...                   0                    0
4  2018-08-11     Newcastle  ...                   0                    0

[5 rows x 22 columns]

In [0]:
teams= df['HomeTeam'].unique()
teams.sort()

In [9]:
print (teams)

['Arsenal' 'Bournemouth' 'Brighton' 'Burnley' 'Cardiff' 'Chelsea'
 'Crystal Palace' 'Everton' 'Fulham' 'Huddersfield' 'Leicester'
 'Liverpool' 'Man City' 'Man United' 'Newcastle' 'Southampton' 'Tottenham'
 'Watford' 'West Ham' 'Wolves']

In [0]:
df['Total Number of Shots']=df.apply(lambda x : x['Home Team Shots'] + x['Away Team Shots'], axis = 1)

In [11]:
df[df['Total Number of Shots']==df['Total Number of Shots'].max()]

           Date   HomeTeam  ... Away Team Red Cards  Total Number of Shots
168  2018-12-16  Liverpool  ...                   0                     42

[1 rows x 23 columns]

In [0]:
df['Total Number of Shots on Target']=df.apply(lambda x:x['Home Team Shots on Target']+x['Away Team Shots on Target'], axis = 1)

In [13]:
Totalshots=df['Total Number of Shots'].sum()
Totalshotsontarget=df['Total Number of Shots on Target'].sum()
print (Totalshots/Totalshotsontarget)

2.90887072358462

In [14]:
df['Referee'].unique()

array(['A Marriner', 'K Friend', 'M Dean', 'C Kavanagh', 'M Atkinson',
       'J Moss', 'C Pawson', 'M Oliver', 'A Taylor', 'G Scott', 'L Mason',
       'S Attwell', 'P Tierney', 'L Probert', 'D Coote', 'R East',
       'S Hooper', 'A Madley', 'J Linington'], dtype=object)

In [0]:
df['Total Cards']= df.apply(lambda x:x['Home Team Yellow Cards']+x['Away Team Yellow Cards']+x['Home Team Red Cards']+x['Away Team Red Cards'], axis = 1)

In [16]:
df.groupby('Referee')['Total Cards'].sum()

Referee
A Madley         2
A Marriner      76
A Taylor       103
C Kavanagh      76
C Pawson        99
D Coote         35
G Scott         39
J Linington      4
J Moss          98
K Friend        92
L Mason         64
L Probert       50
M Atkinson      92
M Dean         137
M Oliver        90
P Tierney       83
R East          44
S Attwell       64
S Hooper        20
Name: Total Cards, dtype: int64

In [24]:
Totalcards=df.groupby('HomeTeam')['Home Team Red Cards','Home Team Yellow Cards'].sum().sum(axis=1)+df.groupby('AwayTeam')['Away Team Red Cards','Away Team Yellow Cards'].sum().sum(axis=1)
Totalcards.loc[(Totalcards==Totalcards.max())]

HomeTeam
Watford    81
dtype: int64

In [25]:
R = df[df['Full Time Result']=='H'].groupby("Referee")['Full Time Result'].value_counts()
R.loc[(R==R.max())]

Referee   Full Time Result
A Taylor  H                   20
Name: Full Time Result, dtype: int64